@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(7,47,89,1) 14%, rgba(18,32,125,1) 37%, rgba(9,67,126,1) 63%, rgba(19,33,131,1) 77%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(7,47,89,1) 14%, rgba(18,32,125,1) 37%, rgba(9,67,126,1) 63%, rgba(19,33,131,1) 77%, rgba(0,0,0,1) 100%);
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(7,47,89,1) 14%, rgba(18,32,125,1) 37%, rgba(9,67,126,1) 63%, rgba(19,33,131,1) 77%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    font-family: 'Satisfy', cursive;
}
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 400px;
  }

  .enter-text {
    color: cornsilk;
  }


